<div>
    <h1>Sample Only</h1>
    <p>Sample Description</p>
    <button>Sample Button</button>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name2",
  "tag": "section",
  "class": "section",

  "presets": [
    {
      "name": "t:sections.newsletter.presets.name2"
    }
  ]
}
{% endschema %}