{%- style -%}
    .newsletter-v2{
        background-color: red;
    }
{%- endstyle -%}

<div class="newsletter-v2">
    {% if section.settings.sizes == 'xxl' %}
    <p>{{section.settings.footer_linklist_desc}}</p>
    {% endif%}
    <h1>{{section.settings.footer_linklist_title}}</h1>
    <p>{{section.settings.sizes}}</p>
    <button>Sample Button</button>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name2",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "text",
        "id": "footer_linklist_title",
        "label": "Heading",
        "default": "Quick links"
    },
    {
        "type": "text",
        "id": "footer_linklist_desc",
        "label": "Heading",
        "default": "Quick description"
    },
    {
        "type": "select",
        "id": "sizes",
        "label": "Sizes",
        "options": [
          {
            "value": "xs",
            "label": "X-small"
          },
          {
            "value": "s",
            "label": "Small"
          },
          {
            "value": "m",
            "label": "Medium"
          },
          {
            "value": "l",
            "label": "Large"
          },
          {
            "value": "xl",
            "label": "X-large"
          },
          {
            "value": "xxl",
            "label": "XX-large"
          }
        ],
        "default": "xxl"
      },
      {
        "type": "color",
        "id": "featured_product_color",
        "label": "Featured product color"
      }
      
      

  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name2"
    }
  ]
}
{% endschema %}