<div>
    <h3>{{ section.settings.heading }}</h3>
</div>

{% schema %}
    {
        "name": "Shop Now",
        "tag": "section",
        "class": "section",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Quick links"
            }
        ],
        "presets": [
            {
                "name": "Preset Name"
            }
        ]

    }
{% endschema %}